@import 'tailwindcss';
@plugin "daisyui" {
  themes: aqua --default;
}

:root {
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes slide-animation {
  to {
    left: -80px;
  }
}

.carousel-animation {
  position: absolute;
  left: max(calc(80px * 33), 100%);
  animation: slide-animation 40s linear infinite;
  animation-play-state: running;
}

.animation-delay-1 {
  animation-delay: calc(40s / 33 * (33 - 1) * -1);
}
.animation-delay-2 {
  animation-delay: calc(40s / 33 * (33 - 2) * -1);
}
.animation-delay-3 {
  animation-delay: calc(40s / 33 * (33 - 3) * -1);
}
.animation-delay-4 {
  animation-delay: calc(40s / 33 * (33 - 4) * -1);
}
.animation-delay-5 {
  animation-delay: calc(40s / 33 * (33 - 5) * -1);
}
.animation-delay-6 {
  animation-delay: calc(40s / 33 * (33 - 6) * -1);
}
.animation-delay-7 {
  animation-delay: calc(40s / 33 * (33 - 7) * -1);
}
.animation-delay-8 {
  animation-delay: calc(40s / 33 * (33 - 8) * -1);
}
.animation-delay-9 {
  animation-delay: calc(40s / 33 * (33 - 9) * -1);
}
.animation-delay-10 {
  animation-delay: calc(40s / 33 * (33 - 10) * -1);
}
.animation-delay-11 {
  animation-delay: calc(40s / 33 * (33 - 11) * -1);
}
.animation-delay-12 {
  animation-delay: calc(40s / 33 * (33 - 12) * -1);
}
.animation-delay-13 {
  animation-delay: calc(40s / 33 * (33 - 13) * -1);
}
.animation-delay-14 {
  animation-delay: calc(40s / 33 * (33 - 14) * -1);
}
.animation-delay-15 {
  animation-delay: calc(40s / 33 * (33 - 15) * -1);
}
.animation-delay-16 {
  animation-delay: calc(40s / 33 * (33 - 16) * -1);
}
.animation-delay-17 {
  animation-delay: calc(40s / 33 * (33 - 17) * -1);
}
.animation-delay-18 {
  animation-delay: calc(40s / 33 * (33 - 18) * -1);
}
.animation-delay-19 {
  animation-delay: calc(40s / 33 * (33 - 19) * -1);
}
.animation-delay-20 {
  animation-delay: calc(40s / 33 * (33 - 20) * -1);
}
.animation-delay-21 {
  animation-delay: calc(40s / 33 * (33 - 21) * -1);
}
.animation-delay-22 {
  animation-delay: calc(40s / 33 * (33 - 22) * -1);
}
.animation-delay-23 {
  animation-delay: calc(40s / 33 * (33 - 23) * -1);
}
.animation-delay-24 {
  animation-delay: calc(40s / 33 * (33 - 24) * -1);
}
.animation-delay-25 {
  animation-delay: calc(40s / 33 * (33 - 25) * -1);
}
.animation-delay-26 {
  animation-delay: calc(40s / 33 * (33 - 26) * -1);
}
.animation-delay-27 {
  animation-delay: calc(40s / 33 * (33 - 27) * -1);
}
.animation-delay-28 {
  animation-delay: calc(40s / 33 * (33 - 28) * -1);
}
.animation-delay-29 {
  animation-delay: calc(40s / 33 * (33 - 29) * -1);
}
.animation-delay-30 {
  animation-delay: calc(40s / 33 * (33 - 30) * -1);
}
.animation-delay-31 {
  animation-delay: calc(40s / 33 * (33 - 31) * -1);
}
.animation-delay-32 {
  animation-delay: calc(40s / 33 * (33 - 32) * -1);
}
.animation-delay-33 {
  animation-delay: calc(40s / 33 * (33 - 33) * -1);
}
