@import 'tailwindcss';
@plugin "daisyui" {
  themes: aqua --default;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-2685%));
  }
  100% {
    transform: translateX(120%);
  }
}

.carousel-animation {
  animation: slideOut 60s linear infinite;
}
